.main {
  height: 100%;
  width: 100%;
}

.head-title {
  height: 94px;
  background-color: orange;
}


.home-select-contents {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
}

.student-account {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #FFF;
  background: #6eb7ff;
  border-bottom: solid 6px #3f87ce;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
}

.teacher-account {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #FFF;
  background: #FF97C2;
  border-bottom: solid 6px #FF5192;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width: 300px;
  height: 300px;
  align-items: center;
  display: flex;
}

.click-box {
  font-size: 50px;
}

.link-box {
  text-decoration: none;
}

