
.main {
  height: 100%;
  width: 100%;
}

.head-title {
  height: 90px;
  background-color: orange;
}

img.textboox-logo {
  width: 30%;
}

.head-title-student {
  background-color: #67c5ff;
}

.head-title-teacher {
  background-color: #FF97C2;
}


.home-select-contents {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}


.student-account {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #FFF;
  background: #6eb7ff;
  border-bottom: solid 6px #3f87ce;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
}

.teacher-account {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #FFF;
  background: #FF97C2;
  border-bottom: solid 6px #FF5192;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width: 300px;
  height: 300px;
  align-items: center;
  display: flex;
}

.click-box {
  font-size: 50px;
}

.link-box {
  text-decoration: none;
}

.guest-click-student {
  font-size: 30px;
  background-color: #6eb7ff;
  border-radius: 9px;
  padding: 20px;
  margin-top: 60px;
  color: #FFF;
  width: 300px;
}

.guest-click-teacher {
  font-size: 30px;
  background: #FF97C2;
  border-radius: 9px;
  padding: 20px;
  margin-top: 60px;
  color: #FFF;
  width: 300px;
}

.student-account-box,
.teacher-account-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
}

.user-greeding {
  margin: 10px;
}

.student-signout {
  display: inline-block;
  padding: 0.2em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.student-signout:hover {
  background: #67c5ff;
  color: white;
}

.teacher-signout {
  display: inline-block;
  padding: 0.2em 1em;
  text-decoration: none;
  color: #FF97C2;
  border: solid 2px #FF97C2;
  border-radius: 3px;
  transition: .4s;
}

.teacher-signout:hover {
  background: #FF97C2;
  color: white;
}

.teacher-mypage {
  color: #FF97C2;
}

.new-textbook-btn {
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-align: center;
}

.first-view {
  height: 65vh;
  width: 100%;
}

.top-image {
  height: 100%;
  width: 100%;
}

.fa-book-open {
  font-size: 6em;
}

@media screen and (max-width: 480px) {
  .first-view {
    width: 100%;
    height:auto;
  }
  
  .top-image {
    width: 100%;
  }

  .fa-book-open {
    font-size: 3em;
  }
  
  .new-textbook-btn {
    bottom: 25px;
    right: 5px;
    position: fixed;
    padding: 15px;
    text-align: center;
  }

  h5.new-textbook-post {
    font-size: 10px;
  }


}
