  
<div class="main">
  <div class= head-title>
    <div class="welcome-textboox">
      <%= image_tag "Textboox.png", class:"textboox-logo" %>
    </div>
  </div>

  <div class= "home-select-contents">
    <%= link_to students_textbooks_path, class:"link-box" do %>
    <div class= "student-account" >
      <p class= "click-box">生徒はこちら</p>
    </div>
    <% end %>
    <%= link_to teachers_textbooks_path, class:"link-box" do %>
    <div class= "teacher-account" >
      <p class= "click-box">先生はこちら</P>
    </div>
    <% end %>
  </div>
</div>