.textbook-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;
}

.textbook-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  padding-top: 30px;
}

.textbook-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.textbook-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.textbook-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}




.textbook-img {
  width: 20vw;
  height: 33vh;
}



.textbook-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  width: 20vw;
}

.textbook-name {
  font-size: 2.5vh;
  width: 19vw;
}

.textbook-pages {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

.textbook-teacher-name {
  color: black;
  width:20vw;
}

li {
  list-style: none;
}

@media screen and (max-width: 480px) {

  .textbook-lists>.list {
    width: 49vw;
    padding: 1vw;
    background-color: #FFF;
  }
  

  .textbook-contents > .title {
    font-size: 3vh;
    line-height: 1.4;
    font-weight: bold;
    padding-top: 30px;
  }

  .textbook-img {
    width: 30vw;
    height: 15vh;
  }

  .textbook-lists {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .textbook-teacher-name {
  width: 30vw;
  }

  .textbook-name {
    font-size: 2vh;
    width: 29vw;
  }

  .textbook-info {
    background-color: #FFF;
    color: black;
    padding: 1vw;
    width: 30vw;
  }

  .textbook-img-content {
    width: 30vw;

  }

  .registered-text {
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    padding-top: 30px;
  }

}
