/* 商品の概要 */

.textbook-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  padding: 5vh 0;
}

.textbook-box {
  background-color: #FFF;
  width: 50vw;
  /* min-width: 1200px; */
  /* padding: 10vh 15vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textbook-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.textbook-box-img {
  height: 30vh;
  width: 30vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.textbook-page-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textbook-page-box>.textbook-page {
  font-size: 4vh;
  font-weight: bold;
}

.textbook-page-box>.textbook-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.progresses-box {
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* align-items: center; */
  
  /* padding-right: 800px; */
}

.progresses-box>.studying-students-list {
  padding-left: 1em;
  font-weight: bold;
  font-size: 25px;
}

.progresses-list {
  width: 40vw;
  align-items: center;
}

.progress-list { 
  padding: 0.5em 1em;
  margin: 1em 0;
  font-weight: bold;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/

  /* padding: 5px 5px;
  margin: 10px;
  border: solid 1px;
  width: 500px; */
  overflow-wrap: break-word;
}

.student_name {
  color: black;
  position:relative;
  background: #D7EEFF;/*バーの色*/
  line-height: 1.5;
  padding: 0.5em;
  margin-bottom: 4px;
  border-left : solid 35px #5c9ee7;/*先の色＝アイコン裏の色*/
  list-style-type: none!important;
  width: 37vw;
}




.progress-red-btn,
.item-red-btn,
.item-destroy {
  text-decoration: none;
}

.progress-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 30px;
  padding: 2vh 170px;
}

section {
  max-width: 500px;
  /* margin-left: 30px; */
}
.progress-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  background: #228bc8;
  border: 1px solid #228bc8;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0 45px 0 25px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  transition-duration: 0.3s;
}
.progress-btn:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}
.progress-btn:hover {
  background: #fff;
  color: #228bc8;
}
.progress-btn:hover:before {
  border-top: 2px solid #228bc8;
  border-right: 2px solid #228bc8;
}



.hidden {
  display: none;
}